[workspace]
members = ["src", "parse_that", "bbnf", "bbnf/derive"]
resolver = "2"


[profile.release-lto]
inherits = "release"
lto = true

[profile.bench]
inherits = "release"
lto = "fat"
codegen-units = 1
opt-level = 3